<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="World Top transfers" />
    <meta
      name="keywords"
      content="football,clubs, football club,Real Madrid, football transfer, top transfers,"
    />
    <link rel="icon" href="{% static './img/inter.logo.png' %}" />
    <meta name="author" content="Ali Egamberdiyev" />
    <title>Clubs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static '.css/main.css' %}" />
    <link
      rel="stylesheet"
      href="{% static '.https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' %}"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    
  </head>
  <body>
    <div class="container">
      <div class="navbar">
          <div class="links">
            <div><a href="/clubs/">CLUBS</a></div>
            <div><a href="/last_trans/">LATEST TRANSFERS</a></div>
            <div><a href="/players/">PLAYERS</a></div>
            <div><a href="/u20_oyinchi/">U-20 PLAYERS</a></div>
            <div><a href="/sinovlar/">TRYOUTS</a></div>
            <div><a href="/stats/">STATS</a></div>
            <div><a href="/about/">ABOUT US</a></div>
          </div>
      </div>
      <div class="country-clubs">
        <h2 id="title">Clubs by country</h2>
        <div class="country">
          {% for i in davlats %}
          <div>
            <a href="/clubs/{{i.id}}/">{{i.nom}}</a>
          </div>
          {% endfor %}
        </div>
        <hr>
        <h2><a href="/transfer/">Transfers archive</a></h2>
      </div>
      <div class="nav">
        <h2>– CLUBS –</h2>
        <table class="content-nav"></table>
      </div>
      <div class="content" style="margin-top: 170px">
        <div class="clubs">
          {% for i in clubs %}
          <div class="club">
            <a href="/club_players/Manchester City/">
              {{i.nom}}
            </a>
          </div>
          {% endfor %}
        </div>
        <p>
          It is a list of clubs with at least one ongoing employment contract
          with player whose predicted transfer value is at least 20 million
          euro.
        </p>
      </div>
      <div class="footer state-footer">
        <a href="https://www.facebook.com/topfootballtransfers/">
          <div>
            <i class="fa-brands fa-facebook-f"></i> &nbsp;
              <h3>facebook</h3>
          </div>
        </a>
        <a href="https://www.instagram.com/topfootballtransfers/">
          <div>
            <i class="fa-brands fa-instagram"></i> &nbsp;
            <h3>Instagram</h3>
          </div>
        </a>
      </div>
    </div>
  </body>
  <script src="/static/js/main.js"></script>
</html>
