<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="World Top transfers" />

    <meta
      name="keywords"
      content="football,clubs, football club,Real Madrid, football transfer, top transfers,"
    />
    <meta name="author" content="Ali Egamberdiyev" />
    <title>Top transfer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    <link rel="icon" href="{% static './img/inter.logo.png' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="links">
          <div><a href="/clubs/">CLUBS</a></div>
          <div><a href="/last_trans/">LATEST TRANSFERS</a></div>
          <div><a href="/players/">PLAYERS</a></div>
          <div><a href="/u20_oyinchi/">U-20 PLAYERS</a></div>
          <div><a href="/sinovlar/">TRYOUTS</a></div>
          <div><a href="/stats/">STATS</a></div>
          <div><a href="/about/">ABOUT US</a></div>
        </div>
      </div>
      <div class="country-clubs">
        <h2 id="title">Clubs by country</h2>
        <div class="country">
          {% for d in davlats %}
          <div>
            <h3><a href="/clubs/{{i.id}}/">{{i.nom}}</a> <br /></h3>
          </div>
          {% endfor %}
        </div>
      </div>
      </div>
      <div class="footer" style="margin-top: 200px;">
        <a href="https://www.facebook.com/topfootballtransfers/">
          <div>
            <i class="fa-brands fa-facebook-f"></i> &nbsp;
              <h3>facebook</h3>
          </div>
        </a>
        <a href="https://www.instagram.com/topfootballtransfers/">
          <div>
            <i class="fa-brands fa-instagram"></i> &nbsp;
            <h3>Instagram</h3>
          </div>
        </a>
      </div>
    </div>
  </body>
  <script src="js/main.js"></script>
</html>
